In [1]:
# Importing the packages

import pandas as pd
import numpy as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
import os

In [2]:
# Reading the dataset

import pandas as pd
df = pd.read_csv('../datasets/sanFran.csv')
print("The dataset has {} rows and {} columns.".format(df.shape[0], df.shape[1]))

The dataset has 2160953 rows and 35 columns.

In [3]:
# Selecting wanted attributes from the dataset

df = df[['DayOfWeek', 'Date', 'Time', 'PdDistrict', 'Resolution', 'X', 'Y', 'location']]
df.head(5)

,DayOfWeek,Date,Time,PdDistrict,Resolution,X,Y,location
0,Friday,07/01/2011,08:00,NORTHERN,"ARREST, BOOKED",-122.439758,37.802151,POINT (-122.43975785707501 37.8021507619169)
1,Tuesday,10/18/2005,14:30,TENDERLOIN,"ARREST, BOOKED",-122.414318,37.779944,POINT (-122.414317857881 37.7799444052046)
2,Saturday,01/29/2005,13:45,BAYVIEW,NONE,-122.388799,37.737576,POINT (-122.38879889515101 37.7375755833256)
3,Thursday,06/02/2011,02:52,CENTRAL,PSYCHOPATHIC CASE,-122.414354,37.803109,POINT (-122.41435430115101 37.8031089840376)
4,Saturday,02/01/2003,08:00,BAYVIEW,NONE,-122.401097,37.724556,POINT (-122.401096851568 37.7245556697717)

In [4]:
# Converting dates to datetime format and extracting details

df['DateTime'] = df['Date'] + " " + df['Time']
df['DateTime'] = pd.to_datetime(df['DateTime']) 

df['year'] = pd.DatetimeIndex(df['DateTime']).year
df['month'] = pd.DatetimeIndex(df['DateTime']).month
df['date'] = pd.DatetimeIndex(df['DateTime']).date
df['time'] = pd.DatetimeIndex(df['DateTime']).time

In [5]:
# Re-arranging wanted attributes from the dataset

df = df[['DayOfWeek', 'PdDistrict', 'Resolution', 'X', 'Y', 'location', 'DateTime', 'year', 'month', 'date', 'time']]

In [6]:
# Changing the column names for ease

df.columns = ['day', 'district', 'result', 'x', 'y', 'location', 'datetime', 'year', 'month', 'date', 'time']
print(df.columns)

Index(['day', 'district', 'result', 'x', 'y', 'location', 'datetime', 'year',
       'month', 'date', 'time'],
      dtype='object')

In [7]:
# Inspecting the data

print("The dataframe has {} rows and {} columns.".format(df.shape[0], df.shape[1]))
df.head(2)

The dataframe has 2160953 rows and 11 columns.

,day,district,result,x,y,location,datetime,year,month,date,time
0,Friday,NORTHERN,"ARREST, BOOKED",-122.439758,37.802151,POINT (-122.43975785707501 37.8021507619169),2011-07-01 08:00:00,2011,7,2011-07-01,08:00:00
1,Tuesday,TENDERLOIN,"ARREST, BOOKED",-122.414318,37.779944,POINT (-122.414317857881 37.7799444052046),2005-10-18 14:30:00,2005,10,2005-10-18,14:30:00

In [8]:
# Inspecting neighbourhood counts

df.district.value_counts()

SOUTHERN      394234
MISSION       293072
NORTHERN      269229
CENTRAL       223962
BAYVIEW       210729
TENDERLOIN    189034
INGLESIDE     186645
TARAVAL       158710
PARK          121070
RICHMOND      114267
Name: district, dtype: int64

In [9]:
# Inspecting year counts

df.year.value_counts()

2015    153771
2017    151759
2013    149639
2016    148379
2014    147056
2003    145073
2004    144323
2005    138807
2012    137334
2008    137113
2009    136218
2006    133726
2007    133601
2010    129750
2011    128563
2018     45841
Name: year, dtype: int64

In [10]:
# Checking for null values

df.isnull().sum()

day         0
district    1
result      0
x           0
y           0
location    0
datetime    0
year        0
month       0
date        0
time        0
dtype: int64

In [11]:
df = df[df['district'].notna()]

In [12]:
# Saving the clean dataset

df.to_csv('../datasets/sanFran_clean.csv')